.caja-proyecto {

    background-color: var(--Secundario-opacidad);
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    border-radius: 80px;
    height: 510px;

}

.manga-imagen {

    flex: 0 0 300px;
    padding: 20px;
    border-radius: 10px;

}

.manga-imagen img {

    width: 110%;
}

.sobremi {

    background: var(--Terciario-opacidad);
    padding: 3rem;
    text-align: center;
    position: relative;

}

.sobremi h2 {

    color: var(--Primario);
    font-size: var(--font-size-h2);
    font-family: var(--Family-rest);
    margin-bottom: 1.5rem;
    position: relative;
    z-index: 1;

}

.sobremi p {
    
    color: var(--Primario);
    font-size: var(--font-size-p);
    font-family: var(--Family-rest);
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.contenedor-proyectos {
    flex: 1;
    max-width: 600px;
    text-align: center;
    color: var(--Primario);
    position: relative;
    z-index: 1;

}

.contenedor-proyectos h2 {
    font-family: var(--Family-rest);
    font-size: var(--font-size-h2);
    margin-bottom: 1.5rem;
    color: var(--Primario);
    margin-top: 100px;

}

.contenedor-proyectos p {

    margin-bottom: 2rem;
    line-height: 1.8;
    font-size: var(--font-size-p);
    font-family: var(--Family-rest);
    color: var(--Primario);

}

.boton {

    display: inline-block;
    padding: 12px 35px;
    background: var(--Apoyo);
    color:var(--Primario);
    text-decoration: none;
    border: 2px solid var(--Primario);
    border-radius: 5px;
    font-weight: bold;
    font-size: var(--font-size-p);
    font-family: var(--Family-rest);
    transition: all 0.3s;
    position: relative;
    z-index: 1;
}

.boton:hover{
    
    background: var(--Primario);
    color: var(--Apoyo);
}

.boton-secundario {

    display: inline-block;
    padding: 12px 35px;
    background: var(--Apoyo);
    color: var(--Primario);
    text-decoration: none;
    border: 2px solid var(--Primario);
    border-radius: 5px;
    font-weight: bold;
    font-size: var(--font-size-p);
    font-family: var(--Family-rest);
    transition: all 0.3s;
    position: relative;
    z-index: 1;
      

}

.boton-secundario:hover {

    background: var(--Primario);
    color: var(--Apoyo);

}

/*Media para móviles*/

@media (max-width: 768px) {

    .sobremi{
        padding: 2rem 1rem;
        height: auto;
    }

    .sobremi h2{

        font-size: var(--font-size-h3);

    }

    .sobremi p{

        font-size: var(--small-size);
    }

    .caja-proyecto{

        flex-direction: column;
        height: auto;
        padding: 15px;
        gap: 5px; 

    }

    .boton{

        font-size: var(--small-size);
    }

    .manga-imagen{

        padding: 5px;
    }

    .manga-imagen img{

        width: 90%;
        margin-left: 10px;
        margin-top: 10px;
    }

    .contenedor-proyectos h2{

        margin-top: 0;
        font-size: var(--font-size-h3);

    }

    .contenedor-proyectos p{

        font-size: var(--small-size);
    }

    .boton-secundario{

        font-size: var(--small-size);
        padding: 12px 25px;
        margin-bottom: 20px;
    }
}


