.caja-proyecto {

    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    border-radius: 80px;
      height: 510px;

}

.manga-image {

    flex: 0 0 300px;
    padding: 20px;
    border-radius: 10px;

}

.manga-image img {

    width: 110%;
}

.projects-content {
    flex: 1;
    max-width: 600px;
    text-align: center;
    color: var(--Texto);
    position: relative;
    z-index: 1;

}

.projects-content h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--Apoyo);
    margin-top: 100px;

}

.projects-content p {

    margin-bottom: 2rem;
    line-height: 1.8;
    font-size: 1.05rem;

}

.btn-secondary {

      background: #c4a570;
      color: white;

}

.btn-secondary:hover {

    background: white;
    color: #c4a570;
}

.sobremi {

    background: var(--Secundario);
    padding: 3rem;
    text-align: center;
    position: relative;

}


.sobremi h2 {

    color: white;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;

}

.sobremi p {
    
    color: white;
    font-size: 1.1rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.btn {

    display: inline-block;
    padding: 12px 35px;
    background: #c4a570;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #c4a570;
    font-weight: bold;
    transition: all 0.3s;
    position: relative;
    z-index: 1;
}