* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --Primario: #FFFFFF;
  --Primario-opacidad:  rgba(255, 255, 255, 0.9);
  --Secundario: #DDCCAC;
  --Secundario-opacidad: hsl(39, 42%, 77%, 90%);
  --Apoyo: #D3B574;
  --Apoyo-opacidad: hsl(41, 52%, 64%, 90%);
  --Texto: #000000;
  --Formulario: #bbb;

  --font-size-h1: 48px;
  --font-size-h2: 32px;
  --font-size-h3: 24px;
  --font-size-p: 20px;
  --small-size: 16px;

  --Family-h1: 'Carrois Gothic';
  --Family-rest: 'Bree Serif';

}

body {
    display: grid;
    grid-template-rows: auto 1fr 100px;
    min-height: 100vh;
    background-image: url('../Imagenes/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header {

    background-color: var(--Primario);
    display: flex;
    padding: 1rem 5%;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 100;

}

#logo {

    display: flex;
    align-items: center;
    gap: 10px;
    height: 80px;
}

#logo img {

    height: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;

}

nav a {
    text-decoration: none;
    color: var(--Texto);
    font-size: var(--font-size-p);
    font-family: var(--Family-rest);
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--Apoyo);
}

footer {
    background-color: var(--Secundario-opacidad);
    display: flex;
    align-items: center;
    padding-left: 30px;

}

footer p {
    font-family: var(--Family-rest);
    font-size: var(--small-size);
    color: var(--Primario);
}

main {
    display:flex;
    height: 90%;
    flex-direction: column;

}

.proyectos {

    padding: 5rem 10rem;
    position: relative;
    height: 100%;

}

.proyecto {

    background: var(--Secundario-opacidad);
    padding: 3rem;
    text-align: center;
    position: relative;

}

.proyecto h2 {

    color: var(--Primario);
    font-size: var(--font-size-h2);
    margin-bottom: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;

}

.caja-comic {

    background-color: var(--Primario-opacidad);
    display: flex;
    gap: 20px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    height: 550px;
    width: 100%;
    padding: 20px;

}