.caja-comic-2 {

    background-color: var(--Secundario-opacidad);
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    height: 550px;
    width: 100%;
    padding: 20px;

}

.caja-top {

    width: 100%;
    height: 200px;
    background-color: var(--Formulario);
    border: 5px solid var(--Primario);

}

.caja-inferior {

    display: flex;
    gap: 10px;
    width: 100%;

}

.seccion-izquierda {

    flex: 1;
    height: 350px;
    background-color: var(--Formulario);
    border: 5px solid var(--Primario);

}

.seccion-derecha {

    flex: 1;
    height: 350px;
    background-color: var(--Formulario);
    border: 5px solid var(--Primario);

}