.bios {

    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 30px;
    padding: 20px;

}

.titulo-bios {
    
    font-size: var(--font-size-h3);
    font-family: var(--Family-rest);
    font-weight: bold;
    line-height: 1.3;
    color: var(--Texto);

}

.parrafo {

    font-size: var(--font-size-p);
    font-family: var(--Family-rest);
    line-height: 1.2;
    color: var(--Texto);
    

}


.imagen-perfil {

    width: 400px;
    height: 550px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;

}

.imagen-perfil img {

    width: 100%;
    height: 90%;
    object-fit: cover;
    display: block;

}

/*Media para tablets*/

/*Preguntar la media porque no se me ve bien cuando voy estirando gradualmente*/

@media (min-width: 769px) and (max-width: 1024px) {

    .bios {

        width: 100%;
        padding: 0;
        gap: 15px;
    }

    .titulo-bios {
        width: 100%;
        font-size: var(--font-size-h3);
    }

    .parrafo {

        width: 100%;
        font-size: var(--minimum-size);

    }

    .imagen-perfil {

        margin-top: 50px;
        width: 50%;
        height: auto;
        
    }

}

/*Media para móviles*/

@media (max-width: 768px) {

    .bios {
        width: 100%;
        padding: 0;
        gap: 15px;
    }

    .titulo-bios {
        font-size: var(--font-size-h3);
    }

    .parrafo {
        font-size: var(--small-size);

    }

    .imagen-perfil {
        width: 100%;
        height: auto;
    }

    .imagen-perfil img {
        width: 100%;
        height: auto;
    }
}

